//@import '~bootstrap/scss/bootstrap';
//@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

div, button {
  transition: background-color 0.5s linear;
}

.top a {
  color: #f8f9fa;
}
.top a:hover {
  text-decoration: none;
}
.img a {
  color: #212529;
}
.green {
  color: #16ff00;
}